html{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 100%;
  background: #e7e7e7;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  background: #ffffff;
}

.title-remover{
  display: none;
}

@media screen and (max-width: 772px) {
  img{
    display: none;
  } 
}

@media (max-width: 772px) {
  .text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;

  }
}

@media screen and (max-width: 480px) {
  footer .menu{
    background-color: #1C2431;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 70px 0px;
   
  }
}

@media screen and (max-width: 772px) {
  footer .menu{
    background-color: #1C2431;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 70px 0px;
   
  }
}

@media screen and (max-width: 772px) {
  .content-image-left-container{
    max-width: 90% !important;
    }
}

@media screen and (max-width: 480px) {
  div .manual-guides-container{
    display: flex;
    flex-wrap: wrap
    ;
  }
}

/*
This is our top menue 
*/

header{
  display: flex;
  justify-content: space-between;
  padding: 1.5% 4%;
}
header.main ul {
  display: flex;
  justify-content:  flex-end;
}
header.main li {
  list-style-type: none;
}

header.main li a {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  padding: 0 1.5rem;
  display: block;
  color: black;
  font-weight: 600;
}

header .main a:visited{
  color: black;
}

header .main a:active{
  font-weight: 900;
}

.header-image{
  width: 168.25px;
  height: 40px;
}

/*
This is our top mobile menue
*/

.mobile-menu{
  display: none;
}
@media only screen and (min-width: 480px){
  .desktop-menu{
      display: block !important;
  }
  .mobile-menu{
      display: none !important;
  }
}

@media only screen and (max-width: 480px){
  .desktop-menu{
      display: none !important;
  }
  .mobile-menu{
      display: block !important;
  }
}



/*
This is our footer menue
*/

footer .menu{
  background-color: #1C2431;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 70px 0px;
}
.menu li {
  list-style-type: none;
}

.menu li a{
  list-style-type: none;  font-family: 'Inter', sans-serif;
  text-decoration: none;
  padding: 0 3rem;
  display: block;
  text-align: center;
  color: #D1D5DB;
  font-weight: 600;
}

.menu-item .menu-item-type-post_type .menu-item-object-page .menu-item-home .current-menu-item .page_item .page-item-2 .current_page_item .menu-item-146{
  display: none;
}

.sub-menu{
  padding: 20px 0px 0px 0px;
}

.copyright{
  padding: 1%;
  background-color: #1C2431;
  display: flex;
  justify-content: center;
  text-align: center
}

/*
This is our typography code
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1{
  font-family: 'Inter', sans-serif;
  margin: 0px;
  line-height: 86.5%;
}

h2{
  font-family: 'Inter', sans-serif;
  size: 32px;
  margin: 0px;
  font-weight: bold; 
}

h3{
  font-family: 'Inter', sans-serif;
  size: 24px;
  margin: 0px;
}

h4{
  font-family: 'Inter', sans-serif;
  size: 20px;
  margin: 0px;
}

h5{
  font-family: 'Inter', sans-serif;
  size: 18px;
  margin: 0px;
}

h6{
  font-family: 'Inter', sans-serif;
  size: 16px;
  margin: 0px;
}

p{
  font-family: 'Inter', sans-serif !important;
  font-size: 16px;
  margin: 0px;
  color: #9CA3AF;
}

.XLarge{
  font-family: 'Inter', sans-serif;
  size: 18px;
  margin: 0px;
  color: #9CA3AF;
}

.Large-semibold{
  font-family: 'Inter', sans-serif;
  size: 16px;
  margin: 0px;
  color: #9CA3AF;
}

/* 
These are our Block: Hero styles 
*/

.hero-container{
  background-color: #111827;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%; 
}

.text-container{
  display: block;
  margin: auto auto;
  justify-content: flex-end;
  align-items: center;
  padding: 10%;
  max-width: 590px;
}

.img-container{
  max-width: auto;
  height: auto;
  max-height: 1000px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;  
}

.hero-image{
  max-width: auto;
  height: auto;
  max-height: 999px;
}

@media only screen and (max-width: 1286px) {
  .hero-image{
    width: auto;
    max-height: 600px;
  }
}

@media only screen and (max-width: 770px) {
  .hero-image{
    max-width: auto;
    max-height: 400px;
  }
}

.hero-title{
  padding: 10px 0px ;
  font-weight: 900;
  font-size: 64px;
}

.hero-link{
  font-family: 'Inter', sans-serif;
  color: white;
  text-decoration: none;
  min-height: 50px;
  background-image: url("http://lukas-playground.local/wp-content/uploads/2022/07/-icon-_keyboard-arrow-down-icon_.png");
  background-repeat: no-repeat;
  background-position:  center bottom 10px;
}

.learn-more{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 50px;
  margin: 50px auto;
}

/*
These are our Block: Content image right styles
*/

.content-image-right-container{
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 90%;
  margin: auto;
}

.content-image-right-image{
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}

.content-image-right-title{
  padding: 10px 0px ;
  font-size: 40px;
  font-weight: 700;
}

.content-image-right-title::after{
  content: '';
  display: block;
  max-width: 165px;
  height: 4px;
  background-color: #9CA3AF;
  border-radius: 1em;
  margin: 10px 0px;
}

/*
These are our Block: Content image left styles
*/

.content-image-left-container{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  max-width: 70%;
  margin: auto;
  }
  
.content-image-left-image{
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}
  
.content-image-left-title{
    padding: 10px 0px ;
    font-size: 40px;
    font-weight: 700;
    
  }

.content-image-left-title::after{
  content: '';
  display: block;
  max-width: 165px;
  height: 4px;
  background-color: #9CA3AF;
  border-radius: 1em;
  margin: 10px 0px;
}

  /*
  These are our Block: Hero Link styles
  */

.hero-container-link{
  background-color: #111827;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%; 
  min-height: 1012px;
}

.hero-title-link{ 
  padding: 10px 0px ;
  font-weight: 900;
  font-size: 64px;
}

.text-container-link{
  display: block;
  justify-content: center;
  align-items: space-between;
  margin: auto;
  padding: 0% 10%;
  height: auto;
 }
  

.img-container-hero-link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25% auto;
}

.hero-link-button{
  font-family: 'Inter', sans-serif;
  background-color: #3784FB;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  max-width: 223px;
  min-height: 33px;
  margin-top: 10%;
  background-image: url("http://lukas-playground.local/wp-content/uploads/2022/07/-icon-_keyboard-arrow-down-icon_-1.png");
  background-repeat: no-repeat;
  background-position: right 60px center;
}

.hero-title-link::after{
  content: '';
  display: block;
  max-width: 165px;
  height: 4px;
  background-color: #9CA3AF;
  border-radius: 1em;
  margin: 10px 0px;
}

/*
These are our Block: Content image right styles
*/

.content-image-right-link-container{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

/*
These are our Block: Content image right styles
*/

.content-image-left-link-container{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

/*
These are our Block: Two column manual guide styles
*/

.manual-guides-container{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
}

.manual-container{
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.manuals-title{
  font-size: 36px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #EC6890;
  margin-top: 50px;
}

.manuals-title-after{
  content: '';
  display: block;
  width: 165px;
  height: 4px;
  background-color: #9CA3AF;
  border-radius: 1em;
  margin: 10px auto 50px auto;
}

.sub-title{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.manuals-link-button{
  font-family: 'Inter', sans-serif;
  background-color: #EC6890;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  max-width: 223px;
  min-height: 33px;
  margin: 50px 60px;
  background-image: url("http://lukas-playground.local/wp-content/uploads/2022/07/-icon-_keyboard-arrow-down-icon_-1.png");
  background-repeat: no-repeat;
  background-position: right 60px center;;
}

.guides-container{
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

.guides-title{
  font-size: 36px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #3784FB;
  margin-top: 50px;
}

.manuals-title-after{
  content: '';
  display: block;
  max-width: 165px;
  height: 4px;
  background-color: #9CA3AF;
  border-radius: 1em;
  margin: 10px auto 50px auto;
}

.guides-link-button{
  font-family: 'Inter', sans-serif;
  background-color: #3784FB;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  max-width: 223px;
  height: 33px;
  margin: 50px 60px;
  background-image: url("http://lukas-playground.local/wp-content/uploads/2022/07/-icon-_keyboard-arrow-down-icon_-1.png");
  background-repeat: no-repeat;
  background-position: right 60px center;;
}